<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CV Builder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/user/img/logo/loader.png}">

    <!-- CSS here -->
    <link rel="stylesheet" th:href="@{/user/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/user/css/slick.css}">
    <link rel="stylesheet" th:href="@{/user/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/user/css/style.css}">


    <!-- CSS here -->
    <link rel="stylesheet" th:href="@{/user/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/user/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/user/css/slicknav.css}">
    <link rel="stylesheet" th:href="@{/user/css/flaticon.css}">
    <link rel="stylesheet" th:href="@{/user/css/progressbar_barfiller.css}">
    <link rel="stylesheet" th:href="@{/user/css/gijgo.css}">
    <link rel="stylesheet" th:href="@{/user/css/animate.min.css}">
    <link rel="stylesheet" th:href="@{/user/css/animated-headline.css}">
    <link rel="stylesheet" th:href="@{/user/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/user/css/fontawesome-all.min.css}">
    <link rel="stylesheet" th:href="@{/user/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/user/css/slick.css}">
    <link rel="stylesheet" th:href="@{/user/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/user/css/style.css}">


</head>
<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img th:src="@{/user/img/logo/loader.png}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader End -->
    <main class="fullscreen">
        <!-- Slider Area Start-->
        <div class="slider-area slider-bg">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider d-flex align-items-center slider-height">
                    <div class="container" style="margin-bottom: 200px">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-xl-7 col-lg-5 col-md-9">
                                <div class="hero__caption">
                                    <span data-animation="fadeInLeft" data-delay=".3s">CV Builder – Công cụ tạo CV mạnh mẽ cho kỷ nguyên số sfdsfds ưefdfdsf</span>
                                    <h1 data-animation="fadeInLeft" data-delay=".6s">Tạo CV chuyên nghiệp chỉ trong vài phút</h1>
                                    <p data-animation="fadeInLeft" data-delay=".8s">Thiết kế, chỉnh sửa và xuất CV với công nghệ hiện đại, hỗ trợ AI và tùy biến linh hoạt.
                                        Chọn mẫu – Tùy chỉnh – Xuất bản. Mọi thứ bạn cần để ghi điểm với nhà tuyển dụng.</p>
                                    <!-- Slider btn -->
                                    <div class="slider-btns">
                                        <!-- Hero-btn -->
                                        <a data-animation="fadeInLeft" data-delay="1s" th:href="@{/survey}" class="btn radius-btn">Bắt đầu</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-6">
                                <div class="hero__img d-none d-lg-block f-right">
                                    <img th:src="@{/user/img/logo/slider.png}" alt="" data-animation="fadeInRight" data-delay="1s">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slider Shape -->
            <div class="slider-shape d-none d-lg-block">
                <img th:src="@{/user/img/top-left-shape.png}" alt="">
            </div>
        </div>
</main>

    <!-- JS here -->
    <script th:src="@{/user/js/vendor/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/user/js/bootstrap.min.js}"></script>
    <script th:src="@{/user/js/slick.min.js}"></script>
    <script th:src="@{/user/js/wow.min.js}"></script>


    <!-- JS here -->
    <script th:src="@{/user/js/vendor/modernizr-3.5.0.min.js}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script th:src="@{/user/js/vendor/jquery-1.12.4.min.js}"></script>
    <script th:src="@{/user/js/popper.min.js}"></script>
    <script th:src="@{/user/js/bootstrap.min.js}"></script>
    <!-- Jquery Mobile Menu -->
    <script th:src="@{/user/js/jquery.slicknav.min.js}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script th:src="@{/user/js/owl.carousel.min.js}"></script>
    <script th:src="@{/user/js/slick.min.js}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script th:src="@{/user/js/wow.min.js}"></script>
    <script th:src="@{/user/js/animated.headline.js}"></script>
    <script th:src="@{/user/js/jquery.magnific-popup.js}"></script>

    <!-- Date Picker -->
    <script th:src="@{/user/js/gijgo.min.js}"></script>

    <!-- Video bg -->
    <script th:src="@{/user/js/jquery.vide.js}"></script>

    <!-- Nice-select, sticky -->
    <script th:src="@{/user/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/user/js/jquery.sticky.js}"></script>
    <!-- Progress -->
    <script th:src="@{/user/js/jquery.barfiller.js}"></script>

    <!-- counter , waypoint, Hover Direction -->
    <script th:src="@{/user/js/jquery.counterup.min.js}"></script>
    <script th:src="@{/user/js/waypoints.min.js}"></script>
    <script th:src="@{/user/js/jquery.countdown.min.js}"></script>
    <script th:src="@{/user/js/hover-direction-snake.min.js}"></script>

    <!-- contact js -->
    <script th:src="@{/user/js/contact.js}"></script>
    <script th:src="@{/user/js/jquery.form.js}"></script>
    <script th:src="@{/user/js/jquery.validate.min.js}"></script>
    <script th:src="@{/user/js/jquery.ajaxchimp.min.js}"></script>

    <!-- Jquery Plugins, main Jquery -->
    <script th:src="@{/user/js/plugins.js}"></script>
    <script th:src="@{/user/js/main.js}"></script>


</body>
</html>