<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CV Builder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/user/img/logo/loader.png}">

    <!-- CSS here -->
    <link rel="stylesheet" th:href="@{/user/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/user/css/style.css}">

</head>
<body>
<!-- ? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img th:src="@{/user/img/logo/loader.png}" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->
<header>
    <!-- Header Start -->
    <div class="header-area header-transparent">
        <div class="main-header ">
            <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a th:href="@{/}"><img th:src="@{/user/img/logo/logo.png}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10">
                            <div class="menu-wrapper d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li class="button-header margin-left"><a th:href="@{/templates}" class="btn2">Bỏ qua</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Header End -->
</header>
<main>
    <section class="team-area section-padding40 section-bg1" style="padding-top: 50px">
        <div class="container">
            <div id="industry" class="survey active mt-100 mb-100">
                <div>
                    <div class="section-tittle text-center mb-50">
                        <h2>Bạn đang tìm công việc trong lĩnh vực nào?</h2>
                        <h3 class="text-white">Chọn template phù hợp với ngành nghề của bạn.</h3>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <a href="#position" class="borders-btn btn-survey btn-industry m-2" th:each="industry : ${industries}" th:attr="data-id=${industry.id}" th:text="${industry.name}"></a>
                </div>
            </div>

            <div id="position" class="survey mt-100 mb-100">
                <div>
                    <div class="section-tittle text-center mb-50">
                        <h2>Bạn đang tìm kiếm công việc ở vị trí nào?</h2>
                        <h3 class="text-white">Chọn layout phù hợp: mạnh về kỹ năng hay kinh nghiệm.</h3>
                    </div>
                </div>
                <div class="row justify-content-center" id="position-container"></div>
            </div>

            <div id="style" class="survey mt-100 mb-100">
                <div>
                    <div class="section-tittle text-center mb-50">
                        <h2> Phong cách bạn muốn cho CV là gì?</h2>
                        <h3 class="text-white">Lựa chọn màu sắc, bố cục phù hợp.</h3>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <a href="#" class="borders-btn btn-survey btn-style m-2" th:each="style : ${styles}" th:data-style-id="${style.id}" th:text="${style.styleName}"></a>
                </div>
            </div>
        </div>
    </section>
    <!-- Services End -->
</main>

<footer>
    <div class="footer-wrappr" th:attr="data-background=@{/user/img/footer-bg.png}">
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="footer-copy-right text-center">
                                <p>
                                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- JS here -->

<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function () {
        const industryButtons = document.querySelectorAll(".btn-industry");
        const positionsContainer = document.getElementById("position-container");
        let selectedPositionId = null;
        let selectedIndustryId = null;
        const styleButtons = document.querySelectorAll(".btn-style");
        industryButtons.forEach(btn => {
            btn.addEventListener("click", function (e) {
                e.preventDefault();
                const industryId = btn.getAttribute("data-id");
                selectedIndustryId = industryId;
                const apiBaseUrl = /*[[${apiBaseUrl}]]*/ 'http://localhost:8090/api';
                const apiUrl = apiBaseUrl + "/positions/getPositionByIndustryId?industryId=" + industryId;

                fetch(apiUrl)
                    .then(response => {
                        if (!response.ok) throw new Error("Lỗi khi lấy positions");
                        return response.json();
                    })
                    .then(data => {
                        positionsContainer.innerHTML = "";
                        data.forEach(pos => {
                            const a = document.createElement("a");
                            a.href = "#style";
                            a.className = "borders-btn btn-survey btn-experience btn-position m-2";
                            a.innerText = pos.name;
                            a.setAttribute("data-id", pos.id);

                            a.addEventListener("click", function () {
                                selectedPositionId = pos.id;
                                console.log("Selected Position ID:", selectedPositionId);
                            });
                            positionsContainer.appendChild(a);
                        });
                    })
                    .catch(err => {
                        console.error(err);
                        alert("Không thể tải dữ liệu ngành nghề!")
                    });
            });
        });
        styleButtons.forEach(btn => {
            btn.addEventListener("click", function (e) {
                e.preventDefault();
                const styleId = btn.getAttribute("data-style-id");

                if (!selectedPositionId) {
                    alert("Vui lòng chọn một vị trí trước khi chọn style.");
                    return;
                }
                window.location.href = `/templates?industryId=${selectedIndustryId}&positionId=${selectedPositionId}&styleId=${styleId}`;
            });
        });
    });
</script>

<script th:src="@{/user/js/vendor/jquery-1.12.4.min.js}"></script>
<script th:src="@{/user/js/bootstrap.min.js}"></script>
<script th:src="@{/user/js/jquery.slicknav.min.js}"></script>
<script th:src="@{/user/js/owl.carousel.min.js}"></script>
<script th:src="@{/user/js/slick.min.js}"></script>
<script th:src="@{/user/js/main.js}"></script>



</body>
</html>