<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CV Builder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/user/img/logo/loader.png}">

    <!-- CSS here -->
    <!--    <link rel="stylesheet" th:href="@{/user/css/nice-select.css}">-->
    <link rel="stylesheet" th:href="@{/user/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/user/css/style.css}">
</head>


<!-- ? Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img th:src="@{/user/img/logo/loader.png}" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader End -->
<header>
    <!-- Header Start -->
    <div class="header-area header-transparent">
        <div class="main-header ">
            <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a th:href="@{/}"><img th:src="@{/user/img/logo/logo.png}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10">
                            <div class="menu-wrapper d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li class="button-header margin-left"><a th:href="@{/templates}" class="btn2">Bỏ qua</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Header End -->
</header>
<main>
    <section class="pricing-card-area fix">
        <div class="container pt-100">
            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-8">
                    <div class="section-tittle text-center mb-90">
                        <h2>Chọn từ các mẫu cv của chúng tôi</h2>
                        <p>Bạn luôn có thể thay đổi cv của bạn sau đó.!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card sidebar-filters">
                        <form class="card-body" id="filterForm" method="get" th:action="@{/templates}">
                            <div class="row justify-content-between mx-1">
                                <h5 class="card-title mb-4">Bộ lọc</h5>
                                <a th:href="@{/templates}" class="text-dark link-success">Làm mới</a>
                            </div>

                            <!-- Lĩnh vực -->
                            <div class="form-group mb-4">
                                <label class="form-label">Lĩnh vực</label>
                                <select class="form-control" id="industry-select" name="industryId">
                                    <option value="">-- Chọn ngành nghề --</option>
                                    <option th:each="industry : ${industries}"
                                            th:value="${industry.id}"
                                            th:text="${industry.name}"
                                            th:selected="${industry.id == selectedIndustryId}">
                                    </option>
                                </select>
                            </div>

                            <!-- Vị trí -->
                            <div class="form-group mb-4">
                                <label class="form-label">Vị trí</label>
                                <select class="form-control" name="positionId" id="position-select">
                                    <option value="">-- Chọn vị trí --</option>
                                </select>
                            </div>
                            <div class="form-group mb-4">
                                <label class="form-label">Phong cách</label>
                                <select class="form-control" name="styleId" id="style-select">
                                    <option value="">-- Chọn phong cách --</option>
                                    <option th:each="style : ${styles}"
                                            th:value="${style.id}"
                                            th:text="${style.styleName}"
                                            th:selected="${style.id == selectedStyleId}">
                                    </option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="row g-4">
                        <div class="col-12 text-center justify-content-center align-content-center" style="min-height:400px" th:if="${#lists.isEmpty(template_cvs)}">
                            <img class="img-fluid" style="width: 200px" th:src="@{/user/img/templates/empty.png}">
                            <p class="text-muted">Không tìm thấy template phù hợp với bộ lọc.</p>
                        </div>
                        <div class="col-md-4 col-sm-6 col-lg-4 mb-20" th:each="template_cv : ${template_cvs}" th:unless="${#lists.isEmpty(template_cvs)}">
                            <div class="card h-100 template-card">
                                <div class="card-button-group button-group-area mt-10">
                                    <a data-toggle="modal" data-target="#exampleModalCenter" class="genric-btn primary-border circle">Xem trước</a>
                                    <a class="genric-btn success-border circle" th:href="@{editResume(id=${template_cv.id})}">Chọn</a>
                                </div>
                                <img th:src="@{'/user/img/templates/' + ${template_cv.image}}" class="card-img img-fluid" alt="Modern Template">
                                <span class="badge bg-primary position-absolute tag-overlay" th:text="${template_cv.id}"></span>
                            </div>
                        </div>
                    </div>
                    <nav class="mb-20" th:unless="${#lists.isEmpty(template_cvs)}" id="pagination">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                                <a class="page-link"
                                   th:href="@{/templates(page=${currentPage - 1}, industryId=${selectedIndustryId}, positionId=${selectedPositionId}, styleId=${selectedStyleId})}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>

                            <li class="page-item"
                                th:each="i : ${#numbers.sequence(1, totalPages)}"
                                th:classappend="${i == currentPage} ? 'active'">
                                <a class="page-link"
                                   th:href="@{/templates(page=${i}, industryId=${selectedIndustryId}, positionId=${selectedPositionId}, styleId=${selectedStyleId})}"
                                   th:text="${i}">1</a>
                            </li>

                            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                                <a class="page-link"
                                   th:href="@{/templates(page=${currentPage + 1}, industryId=${selectedIndustryId}, positionId=${selectedPositionId}, styleId=${selectedStyleId})}"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content rounded-0">
                <div class="modal-body py-0">
                    <div class="d-flex main-content">
                        <img src="../../../static/user/img/hero/hero_right.png" class="img img-fluid promo-img">
                        <div class="content-text p-4">
                            <h3>Sign up to access all the resourcess</h3>
                            <p>All their equipment and instruments are alive. The sky was cloudless and of a deep dark blue.</p>
                            <button class="genric-btn success-border circle">Chọn mẫu này</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="footer-wrappr" th:attr="data-background=@{/user/img/footer-bg.png}">
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="footer-copy-right text-center">
                                <p>
                                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- JS here -->
<script th:src="@{/user/js/vendor/jquery-1.12.4.min.js}"></script>
<script th:src="@{/user/js/bootstrap.min.js}"></script>
<script th:src="@{/user/js/jquery.slicknav.min.js}"></script>
<script th:src="@{/user/js/owl.carousel.min.js}"></script>
<script th:src="@{/user/js/slick.min.js}"></script>
<!--<script th:src="@{/user/js/jquery.nice-select.min.js}"></script>-->

<script th:src="@{/user/js/main.js}"></script>
<script th:inline="javascript">
    document.getElementById("industry-select").addEventListener("change", function () {
        const industryId = this.value;
        const positionSelect = document.getElementById("position-select");

        positionSelect.innerHTML = '<option value="">-- Chọn vị trí --</option>';
        const apiBaseUrl = /*[[${apiBaseUrl}]]*/ 'http://localhost:8090/api';
        const apiUrl = apiBaseUrl + "/positions/getPositionByIndustryId?industryId=" + industryId;
        const selectedPositionId = /*[[${selectedPositionId}]]*/ null;
        if (industryId) {
            fetch(apiUrl)
                .then(response => response.json())
                .then(data => {
                    data.forEach(position => {
                        const option = document.createElement("option");
                        option.value = position.id;
                        option.text = position.name;
                        positionSelect.appendChild(option);
                    });
                })
                .catch(error => console.error("Lỗi khi load vị trí:", error));
        }
    });
    const selectedIndustryId = /*[[${selectedIndustryId}]]*/ null;
    const selectedPositionId = /*[[${selectedPositionId}]]*/ null;

    const positionSelect = document.getElementById("position-select");

    if (selectedIndustryId) {
        const apiBaseUrl = /*[[${apiBaseUrl}]]*/ 'http://localhost:8090/api';
        const apiUrl = apiBaseUrl + "/positions/getPositionByIndustryId?industryId=" + selectedIndustryId;
        fetch(apiUrl)
            .then(response => response.json())
            .then(data => {
                data.forEach(position => {
                    const option = document.createElement("option");
                    option.value = position.id;
                    option.text = position.name;
                    if (selectedPositionId && parseInt(position.id) === parseInt(selectedPositionId)) {
                        option.selected = true;
                    }
                    positionSelect.appendChild(option);
                });
            }).catch(error => console.error("Lỗi tải vị trí:", error));
    }

    document.addEventListener("DOMContentLoaded", function () {
        const form = document.getElementById("filterForm");
        const selects = form.querySelectorAll("select");
        selects.forEach(function (select) {
            select.addEventListener("change", function () {
                selects.forEach(function (s) {
                    if (!s.value) {
                        s.removeAttribute("name");
                    }
                });
                form.submit();
            });
        });
    });
</script>


</html>